#plane {
    font-size: 75px;
    position: absolute;
    left: 150px;
    top: 130px;
}

#target {
    font-size: 75px;
    position: absolute;
    left: 200px;
    top: 400px;
}

.timer {
    font-size: 40px;
    position: fixed;
    top: 200px;
    right: 50px;
}