* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
.navbar-brand {
    padding: 5px;
    margin-bottom: 5px;
}
.logoDagobank {
    border: 3px solid white;
    border-radius: 100%;
    animation: spin 5s infinite;

}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}


.wrap {
    background: rgba(0, 0, 0, 0.5) url(img/bg1.jpg) no-repeat;
    background-positon: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}

body {
    background-color: black;
    font-family: "Nova Round";
    color: white;
    font-size: 1.5em;
}
main {
    margin-left: 15%;
}

form {
    padding:  5% 0;
}

input[type=text], input[type=number], input[type=date], textarea, select{
    color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
}

header .logo {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    float: left;
}

header .menu {
    float: right;
    margin-top: 5px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}

.content {
    max-width: 55%;
    padding: 200px 80px 0;
    color: #fff;
}

.content h1 {
    font-family: "Nova Round";
    font-size: 48px;
}

.content p {
    font-family: "Nova Round";
    font-size: 20px;
    padding: 25px 0;
    font-weight: 300;
}

.content .btn-group {
    margin-top: 45px;
}

.content a {
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
}

.content a.color1 {
    background-color: #ffc107;
}

.our-partners {
    padding: 0 50px;
    position: relative;
    background-color: #fff;
    z-index: -1;
}

.our-partners h3 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 20px;
    color: black;

}

.our-partners hr {
    border: none;
    height: 4px;
    width: 100px;
    background-color: orange;
}

.our-partners-inner {
    margin-top: 50px;
}

.our-partners-inner a {
    display: inline-block;
    width: 14%;
    padding: 15px;
    margin-right: 25px;
}


h1.intro {
    max-width: 700px;
    margin: auto;
    width: 50%;
    padding: 30px;
    line-height: 1;
    font-size: 60px;
}


.button {
    background-color: #ffc107;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.button_bottom {
    background-color: #ffc107;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25% auto;

}

.sh_title {
    text-align: center;

}

.sh_subTitle {
    text-align: center;
}

.sh_td_subTitle {
    text-align: center;
}

.sh_resultText {
    text-align: center;
    color: #ffc107
}

.sh_input {
    position: absolute;
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    border: 1px solid #000;
    font-size: 2em;
}


footer.sh_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
}

.sh_button {
    background-color: #ffc107;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 45%;
    alignment: center;
}

.transferbox{
    background-color: #ffc107;
    border-radius: 40px;
    padding: 40px;
    width: 350px;
    height: 250px;
    margin-top: 50px;
    color: black;
}


.loginbox {
    background-color: #ffc107;
    border-radius: 30px;
    padding: 40px;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    color: black;
}

.loginbox.employee {
    background-color: #5a6268;
}

.loginboxwrap {
    margin-left: 100px;
}

.shadow {
    -webkit-box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.49); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.49); /* Firefox 3.5 - 3.6 */
    box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.49); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.loginbox h1 {
    color: white;
    text-align: center;
    margin-top: 0;
}

.loginbox h2 {
    white-space: nowrap;
    color: white;
    margin-top: 0;

}

.login-container {
    position: relative;
    margin-top: -20px;
}

.buttonLogin {
    display: block;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.loginInput {
    width: 100%;
}

p.loginError span {
    color: red;
    font-style: italic;
    text-align: center;
    margin-left: 10px;
}

.dagobertBackground {
    background: rgba(0, 0, 0, 0.5) url(img/bg1.jpg) no-repeat;
    background-positon: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}

.table {
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}

h2.txtext, h4.txtext {
    color: #000000;
    font-family: Roboto;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}

.containertx {
    width: 200px;
    height: 100px;
    display: grid;
    margin: auto;
    padding: 10px;
}

.buttontx {
    margin: auto;
    background-color: #ffc107;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}


.mkb-card-wrap table td,
.mkb-card-warp table th {
    padding-right: 10px;
}

.mkb-card-wrap {
    margin-left: 50px;
}

h1.black-text, h3.black-text {
    color: #000000;
    font-family: Roboto;
    line-height: 25px;
    font-size: 18px;
}







