<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div th:fragment="navigation">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/homepage">Dagobank logo</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/overOns">Over Ons</a></li>
            <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Registreren</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Inloggen </a></li>
        </ul>
    </div>
</nav>
</div>
</body>
</html>