<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <meta charset="UTF-8">

    <title>Overzicht van Rekening</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>

<div class="container">
    <div class="jumbotron">
        <div class="card">
            <div class="card-header">
                <h2>Transactie Overzicht</h2>
            </div>
            <div class="card-body">
                <h4>Type Rekening:  <span th:text="${selectedBankAccount.accountName}"/></h4>
                <h4>Rekening nummer:  <span th:text="${selectedBankAccount.iban}"/></h4>
                <h4>Saldo:  <span th:text="${selectedBankAccount.balance}"/></h4>
                <a th:href="@{addAccountHolder}">
                    <button class="button">Rekeninghouder toevoegen</button>
                </a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Bedrag</th>
                        <th scope="col">Datum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Huur</td>
                        <td>850,00</td>
                        <td>03-09-2020</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Dinner</td>
                        <td>50,95</td>
                        <td>05-09-2020</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>zorgtoeslag</td>
                        <td>90,00</td>
                        <td>08-09-2020</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
<p>
    <a th:href="@{/Transfer}" class="btn btn-primary"> <button class="button">Overboeken</button> </a>
</p>

</body>
</html>