<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <meta charset="UTF-8">

    <title>Overzicht van Rekening</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<h1>Info pagina van Rekening</h1>
<h2> <span th:text="${selectedBankAccount.accountName}"/></h2>
<h2> <span th:text="${selectedBankAccount.iban}"/></h2>
<h2> <span th:text="${selectedBankAccount.balance}"/></h2>


<a th:href="@{addAccountHolder}">
    <button>Rekeninghouder toevoegen</button>
</a>
<!-- <h2> <span th:text="${bankAccountName}"/></h2> -->
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>