<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Rekeninghouder toevoegen</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>

<h1>Toevoegen mederekeninghouder </h1>
<p>Ik wil voor de rekening <span th:text="${selectedBankAccount.accountName + ' met IBAN nummer ' + selectedBankAccount.iban}"></span>
de volgende mederekeninghouder toevoegen:</p>

<form method="post" th:action="@{addAccountHolder}" th:object="${AddAdditionalBankAccountHolderForm}">

    <p>Mederekeninghouder: <input style="width: 250px" type="text" name="loginNameAdditionalAccountHolder" placeholder="Inlognaam van Mederekeninghouder"></td></p>
<p>Bedenk zelf een code van vijf cijfers en vul deze hier in.</p>
    <p>Veiligheidscode: <input class="" type="text" name="connectionCode" placeholder="12345" pattern="[0-9]{5}" required></td>
   <input name="selectedBankAccountId" type="hidden" th:value="${selectedBankAccount.id}">
        </tr></td></p>

    <input class="sh_button" type="submit" name="addAccountHolder" value="Sla koppeling op"/>

</form>
<p class="loginError"> <span th:text="${error}"> </span>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>