<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <meta charset="UTF-8">
    <title>bankAccountHolderTokenSuccess</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<h2> Rekening token succesful aangemaakt!</h2>

<p></p>
<h2> Gebruikers login naam: <a th:text="${bankAccountHolderToken.becomingSecundaryAccountHolder.userName}"></a></h2>
<h2> Verbindings code: <a th:text="${bankAccountHolderToken.connectionCode}"></a></h2>
<h2> IBAN: <a th:text="${bankAccountHolderToken.accountToAdd.iban}"></a></h2>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>


