<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/head :: head"></th:block>
    <meta charset="UTF-8">
    <title>Koppeling gelukt</title>
</head>

<body>

<div th:insert="fragments/navigation :: navigation"></div>
<main>
<h1> Vervolgstap...</h1>
<p> Stuur de volgende gegevens naar de mederekeninghouder met gebruikersnaam <span th:text="${bankAccountHolderToken.becomingSecundaryAccountHolder.inlogCredentials.userName}"></span>.</p>
<hr>
<br>
<p>Beste <span th:text="${bankAccountHolderToken.becomingSecundaryAccountHolder.fullName.firstName} +', '"></span></p>

<p>   Ik maak je mederekeninghouder van de rekening <span th:text="${selectedBankAccount.accountName + ' met IBAN nummer ' + selectedBankAccount.iban}"></span>.</p>
<p>Ga naar de Dagobank website, log in en klik op "Koppel rekening".  Vul daar de volgende IBAN en koppelingscode in.</p>

<p> IBAN: <span th:text="${bankAccountHolderToken.accountToAdd.iban}"></span></p>
<p> Koppelingscode: <span th:text="${bankAccountHolderToken.connectionCode}"></span></p>

<br>
<p>Hartelijke groet,<br> <span th:text="${selectedBankAccount.accountHolder.fullName.firstName}"></span></p>
</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>


