<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/head :: head"></th:block>
    <meta charset="UTF-8">
    <title>Koppel bankrekening</title>
</head>

<body>
<div th:insert="fragments/navigation :: navigation"></div>
<main>

    <div class="wrap">
        <div class="container">
            <div class="jumbotron">
                <div class="card">
                    <div class="card-header">
                        <h1>Koppel rekening</h1>
                        <p class="txtext">Van de Rekeninghouder heb je IBAN en koppelingcode ontvangen.</p>
                        <p class="txtext">Vul deze gegevens in en druk op "Koppel rekening". Hiermee word je mederekeninghouder.</p>
                        <p class="txtext"> Deze rekening vind je dan terug in je rekeningenoverzicht.</p>
                    </div>
                    <form method="post" th:action="@{connectBankAccount}" th:object="${ConnectBankAccountForm}">
                        <p class="txtext">IBAN: <input type="text" name="iban"></td></p>
                        <p class="txtext">Koppelingscode: <input type="text" name="connectionCode"></td></p>


                        <input class="buttonWhite" type="submit" name="connectBankAccount" value="Koppel Rekening"/>

                    </form>
                    <p class="loginError"> <span th:text="${error}"> </span>
                </div>
            </div>
        </div>
    </div>







</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>