<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <meta charset="UTF-8">
    <title>connect bank account</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>

<main>
    <h1>Koppel rekening</h1>
    <p>Van de Rekeninghouder heb je IBAN en koppelingcode ontvangen.</p>
    <p>Vul deze gegevens in en druk op "Koppel rekening". Hiermee word je mederekeninghouder.</p>
    <p> Deze rekening vind je dan terug in je rekeningenoverzicht.</p>
    <p></p>
<form method="post" th:action="@{connectBankAccount}" th:object="${ConnectBankAccountForm}">
    <p>IBAN: <input type="text" name="iban"></td></p>
    <p>Koppelingscode: <input type="text" name="connectionCode"></td></p>


    <input class="sh_button" type="submit" name="connectBankAccount" value="Koppel Rekening"/>

</form>
<p class="loginError"> <span th:text="${error}"> </span>
</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>