<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:insert="fragments/head" :: head></th:block>
    <title>Contact</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<main class="wrap">
    <h1>Contact pagina</h1>
    <h2>Vul het contact formulier in.</h2>
    <form method="post" th:action="@{contact}" th:object="${contactform}">
        <table>
            <tr>
                <td>Voornaam:</td>
                <td><input type="text" name="input_firstName" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td>Tussenvoegsel:</td>
                <td><input type="text" name="input_prefix" th:field="*{prefix}"></td>
            </tr>
            <tr>
                <td>Achternaam:</td>
                <td><input type="text" name="input_lastName" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="input_email" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>Telefoon:</td>
                <td><input type="text" name="input_phoneNumber" th:field="*{phoneNumber}"></td>
            </tr>
            <tr>
                <td>Betreft:</td>
                <td><select th:field="*{subjects}" style="width: 250px;">
                    <option th:each="subject : ${subjects}" th:value="${subject}" th:text="${subject}"></option>
                    <option value="Maak een keuze..." selected disabled>Maak een keuze...</option>
                </select></td>
            </tr>
            <tr>
                <td>Bericht:</td>
                <td><textarea type="text" name="input_message" th:field="*{message}"
                              placeholder="Schrijf hier je vraag of opmerking...." style="height: 250px; width: 250px;"></textarea>
                </td>
            </tr>
            <tr>
            <td><input class="button_bottom" type="submit" name="contact" value="Verzend"/></td>
            </tr>
        </table>

    </form>
    <div th:insert="fragments/footer :: footer"></div>
</main>
</body>
</html>