<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <title>DagoBank Homepage</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="login-container wrap">
    <div class="content">
        <h1 class="header">Dagobank staat voor u klaar.</h1>
        <p>Mocht u ook willen overstappen van bank, Kies dan voor Dagobank. Nu gratis rolletje drop bij uw
            hypotheek.</p>
        <div class="btn-group">
            <a href="/login" class="color1">Inloggen</a>
            <a href="/registration">Registreren</a>
        </div>
    </div>

</div>

<div class="our-partners">
    <h3>Onze Partners</h3>
    <hr>
    <div class="our-partners-inner">
        <a href="#"><img src="img/logo1.png" alt=""></a>
        <br><br>
        <a href="#"><img src="img/logo2.png" alt=""></a>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>