<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">


</head>
<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <h1>Welkom bij de Dagobank</h1>

    <h2>Onze directeur Dagobert Duck heet u van harte welkom</h2>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>