<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <title>DagoBank Homepage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style>
    .glyphicon.glyphicon-plane {
        font-size: 75px;
        position: absolute;
        left:150px;
        top:150px;
    }

    #target {
        font-size: 75px;
        position: relative;
        left: 200px;
        top: 400px;
    }
</style>
<body>
<div th:replace="fragments/navigation :: navigation"></div>


<i id="plane" class="glyphicon glyphicon-plane"></i>
<i id="target" class="glyphicon glyphicon-star"></i>
<h2>Score: <span id="score">0</span></h2>
</body>
<script>
    const plane = $('#plane');
    const target = $('#target');
    const score = $('#score');

    function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
    }

    function incrementScore() {
        score.html(function(i, val) { return +val+1 })
    }

    function setPositionOfTarget() {
        let newLeft = getRandomInt($(document).width() - 100)
        let newTop = getRandomInt($(document).height() -100)
        target.css({left: newLeft, top: newTop})
    }

    function getBankAccounts() {
        $.ajax({
            type: 'post',
            contentType: "application/json",
            url: "getBankAccounts",
            success: function(data) {
                console.log(data)
                console.log("succes ajax request")
            },
            error: function() {
                console.log("error ajax request")
            }
        })
    }
    getBankAccounts();

    right = function() {
        plane.css({left: plane.position().left + 10})
    }

    left = function() {
        plane.css({left: plane.position().left - 10})
    }

    down = function() {
        plane.css({top: plane.position().top + 10})
    }

    up = function() {
        plane.css({top: plane.position().top - 10})
    }

    touch = function() {
        let planeTop = plane.position().top
        let planeLeft = plane.position().left
        let targetTop = target.position().top
        let targetLeft = target.position().left

        if (targetLeft - planeLeft < 40 &&
            targetLeft - planeLeft > -40 &&
            targetTop - planeTop < 40 &&
            targetTop - planeTop > -40) {
            setPositionOfTarget()
            incrementScore()
        }
    }

    window.addEventListener("keydown", function(event) {

        switch (event.key) {
            case "ArrowDown":
                down()
                break;
            case "ArrowUp":
                up()
                break;
            case "ArrowLeft":
                left()
                break;
            case "ArrowRight":
                right()
                break;
        }
        event.preventDefault()
        touch()
    }, true);



</script>
</html>