<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welkom!</title>
</head>
<body>
<form method="post" th:action="@{login}" th:object="${loginform}">
    <table>
        <tr>
            <td>Gebruikersnaam:</td><td><input type="text" name="input_name" th:field="*{username}"></td>
            <td><span th:text="*{usernameError}"></span></td>
        </tr>
        <tr>
            <td>Wachtwoord:</td><td><input type="password" name="input_id" th:field="*{password}"></td>
            <td><span th:text="*{passwordError}"></span></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
<a href="/vuldatabase">Vul database met testgebruikers (gn: test, ww: test)</a>
</body>
</html>