<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head th:insert="fragments/head :: head">
    <title>Login</title>
</head>
<body>
<!--FIXME: How to show the active tab?-->
<div th:replace="fragments/navigation :: navigation"></div>

<div class="login-container">
    <div class="loginbox shadow">
        <div th:switch="${user == null}">

            <h1>Login</h1>

            <div>
                <div th:case="${false}">
                    <p>Hoi <span th:text="${user.firstName}"/>, je bent al ingelogd!</p>
                    <a href="/logout">Uitloggen</a>
                </div>
                <div th:case="${true}">
                    <form method="post" th:action="@{login}" th:object="${loginform}">
                        <input class="loginInput" type="text" name="input_name" th:field="*{username}" placeholder="gebruikersnaam">
                        <input class="loginInput" type="password" name="input_id" th:field="*{password}" placeholder="wachtwoord">
                        <input class="buttonLogin" type="submit" value="Login">
                        <p> <span th:text="*{passwordError}"></span></p>
                        <p> <span th:text="*{loginAttemptsError}"></span></p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>



<div th:insert="fragments/footer :: footer"></div>
</body>
</html>