<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head th:insert="fragments/head :: head">
    <title>Login</title>
</head>
<body>
<!--FIXME: How to show the active tab?-->
<div th:replace="fragments/navigation :: navigation"></div>
<div th:switch="${user == null}">
    <div th:case="${true}">
        <div class="login-container dagobertBackground">
            <div class="loginboxwrap">
                <div class="loginbox shadow">


                    <h1>Login</h1>

                    <div>
                        <form method="post" th:action="@{werknemer}" th:object="${loginform}">
                            <input class="loginInput" type="text" name="input_name" th:field="*{username}"
                                   placeholder="gebruikersnaam">
                            <input class="loginInput" type="password" name="input_id" th:field="*{password}"
                                   placeholder="wachtwoord">
                            <input class="buttonLogin" type="submit" value="inloggen">

                        </form>
                    </div>
                </div>
                <p class="loginError"><span th:text="${loginform.passwordError}"></span> <span
                        th:text="${loginform.loginAttemptsError}"></span> <span
                        th:text="${loginform.usernameError}"></span></p>
            </div>
        </div>
    </div>
    <div th:case="${false}">
        <p>Hoi <span th:text="${user.firstName}"/>, je bent al ingelogd!</p>
        <a href="/logout">Uitloggen</a>
    </div>
</div>


<div th:insert="fragments/footer :: footer"></div>
</body>
</html>