<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head" :: head>
    <title>Open Privérekening</title>


</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<h1>Open particulier rekening</h1>
<p> Hoi <span th:text="${user.firstName}"/>. Je kunt de naam van de bankrekening nog aanpassen. Geef hier de gewenste naam in.</p>

<p> Naam van nieuwe bankrekening</p>

<form method="post" th:action="@{openAndSaveBankAccount}">
    <p><input type="text" name="bankAccountName" th:value="${bankAccountName}"></p>
    <input type="submit" name="aanmakenRekening" value="Maak rekening aan"/>
</form>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>