<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head" :: head>
    <title>Open zakelijke rekening</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<main class="wrap">
    <h1>Hoi <span th:text="${user.fullName}"/></h1>
    <h2>Vul het formulier in om een nieuwe bedrijfsrekening te openen. <br>Kies een bedrijf uit de dropdown als je een extra rekening wilt openen voor een al bestaand bedrijf</h2>
        <form method="post" th:action="@{openBusinessAccount}" th:object="${openBusinessAccountForm}">
            <table>
                <tr>
                    <td>Nieuw of bestaand bedrijf:</td>
                    <td>
                        <select name="businesses" id="businesses">
                            <option>Nieuw bedrijf</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Bedrijfsnaam:</td>
                    <td><input id="input_businessName" name="input_businessName" type="text" th:field="*{businessName}"></td>
                </tr>
                <tr>
                    <td>KVK nummer:</td>
                    <td><input id="input_kvkNumber" name="input_kvkNumber" type="text" th:field="*{kvkNumber}"></td>
                </tr>
                <tr>
                    <td>Sector:</td>
                    <td><select th:field="*{sbiCode}" id="input_sbiCode">
                        <option th:each="sbiCode : ${openBusinessAccountForm.sbiCodes}" th:value="${sbiCode}" th:text="${sbiCode}"></option>
                    </select></td>
                </tr>
                <tr>
                    <td>Naam van deze rekening:</td>
                    <td><input id="input_accountName" type="text" th:field="*{bankAccountName}"></td>
                </tr>
                <tr>
                    <td><span class="error" th:text="${openBusinessAccountForm.error}"></span></td>
                </tr>
                <tr>
                    <td><input class="button_bottom" type="submit" name="businessAccountOpened"
                               value="Open zakelijke rekening"/></td>
                </tr>

            </table>
        </form>
</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>

<script>
    let globalBusinesses = null;

    $("document").ready(
        function () {
            getAllBusiness();
        }
    );

    let fillBusinessDropdown = function (businesses) {
        $.each(businesses, function (key, business) {
            let name = business.businessName;
            let option = new Option(name, name);
            $(option).html(name);
            $("#businesses").append(option)
        });
    };

    let getAllBusiness = function () {
        $.ajax({
            url: "getAllBusinesses",
            type: "get",
            success: function (response) {
                globalBusinesses = response;
                fillBusinessDropdown(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        })
    };

    $("#businesses").change(function () {
        let selected = $(this).children("option:selected").val();

        let input_name = $("#input_businessName");
        let input_kvk = $("#input_kvkNumber");
        let input_sbi = $("#input_sbiCode");
        $.each(globalBusinesses, function (key, business) {
            if (business.businessName === selected) {
                let businessName = business.businessName;
                let kvkNumber = business.kvkNumber;
                let sbiCode = business.sbiCode;

                input_name.val(businessName).attr('readonly', true);
                input_kvk.val(kvkNumber).attr('readonly', true);
                input_sbi.val(sbiCode).attr('readonly', true);

                return false
            } else if (selected === "Nieuw bedrijf") {
                input_name.attr('readonly', false);
                input_kvk.attr('readonly', false);
                input_sbi.attr('readonly', false);
                $("#input_businessName").val("");
                $("#input_kvkNumber").val("");
                $("#input_sbiCode").val("");
            } else {
                $("#input_businessName").val("");
                $("#input_kvkNumber").val("");
                $("#input_sbiCode").val("");
            }
        })
    });
</script>
