<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/head :: head"></th:block>
    <title>Openen zakelijke rekening gelukt</title>
</head>

<body>
<div th:insert="fragments/navigation :: navigation"></div>
<main>
    <h1>Openen zakelijke rekening is gelukt</h1>
    <p>Er is een nieuwe zakelijke rekening geopened.</p>
    <a class="buttonStandard noLink" href="/overview">Ga naar rekening overzicht</a>
</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>

