<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <title>openBankAccountSuccess</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<h2></h2>
<h1> Particulier rekening aangemaakt.</h1>
<p> Beste <span th:text="${user.firstName}"></span>, een nieuwe particulier rekening met de naam  -
<span th:text="${privateAccount.accountName}"></span> - en IBAN <span th:text="${privateAccount.iban}"></span> is aangemaakt.</p>
<p> Klanten ontvangen op nieuwe rekeningen een welkom bonus van <span th:text="${privateAccount.balance}"></span> &#8364;.</p>
<p> Deze bonus is meteen op je nieuwe rekening gestort.</p>

<h3 class="sh_button"> <a href="/overview">terug naar overzicht</a> </h3>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>