<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head" :: head>
    <title>Open zakelijke rekening</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<main class="wrap">
    <h1>Hoi <span th:text="${user.fullName}"/></h1>
    <h2>Kies een bedrijf</h2>

    <th:block th:each="business : ${businesses}">
        <form method="post" th:action="@{open-zakelijke-rekening}" th:object="${openBusinessAccountForm}"
              id="form">
            <table>
                <tr>
                    <td>Nieuw of bestaand bedrijf:</td>
                    <td>
                        <select name="businesses" id="businesses">
                            <option>Nieuw bedrijf</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Bedrijfsnaam:</td>
                    <td><input id="input_businessName" type="text" th:field="*{businessName}"></td>
                </tr>
                <tr>
                    <td>KVK nummer:</td>
                    <td><input id="input_kvkNumber" type="text" th:field="*{kvkNumber}"></td>
                </tr>
                <tr>
                    <td>Sector:</td>
                    <td><input id="input_sbiCode" type="text" th:field="*{sbiCode}"></td>
                </tr>
                <tr>
                    <td>Naam van deze rekening:</td>
                    <td><input type="text" th:name="bankAccountName"></td>
                </tr>
                <tr>
                    <td><input class="button_bottom" type="submit" name="businessAccountOpened"
                               value="Open zakelijke rekening"/></td>
                </tr>
            </table>
        </form>
    </th:block>


    <a href="/open-zakelijke-rekening/nieuwbedrijf">Open een zakelijke rekening voor een nieuw bedrijf</a>
</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>

<script>
    let globalBusinesses = null;

    $("document").ready(
        function () {
            getAllBusiness();
        }
    );

    let fillBusinessDropdown = function (businesses) {
        $.each(businesses, function (key, business) {
            console.log("business: " + business)
            let name = business.businessName;
            let option = new Option(name, name);
            $(option).html(name);
            $("#businesses").append(option)
        });
        // $("#businesses").append(new Option("Nieuw bedrijf", "Nieuw bedrijf"))
    };

    let getAllBusiness = function () {
        $.ajax({
            url: "getAllBusinesses",
            type: "get",
            success: function (response) {
                globalBusinesses = response;
                fillBusinessDropdown(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        })
    };

    $("#businesses").change(function () {
        let selected = $(this).children("option:selected").val();

        let input_name = $("#input_businessName");
        let input_kvk = $("#input_kvkNumber");
        let input_sbi = $("#input_sbiCode");
        $.each(globalBusinesses, function (key, business) {
            if (business.businessName === selected) {
                let businessName = business.businessName;
                let kvkNumber = business.kvkNumber;
                let sbiCode = business.sbiCode;
                input_name.val(businessName);
                input_kvk.val(kvkNumber);
                input_sbi.val(sbiCode);
                input_name.attr('disabled', true);
                input_kvk.attr('disabled', true);
                input_sbi.attr('disabled', true);
                return false
            } else if (selected === "Nieuw bedrijf") {
                console.log("hiero")
                input_name.attr('disabled', false);
                input_kvk.attr('disabled', false);
                input_sbi.attr('disabled', false);
                $("#input_businessName").val("");
                $("#input_kvkNumber").val("");
                $("#input_sbiCode").val("");
            } else {
                $("#input_businessName").val("");
                $("#input_kvkNumber").val("");
                $("#input_sbiCode").val("");
            }
        })
    });
</script>
