<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Overzicht</title>
</head>
<body>

<table class="table" th:each="item : ${sumBalanceList}">
    <tbody>
    <tr>
        <th scope="row" th:text="${item.sumBalance}"></th>
        <td th:text="${item.accountHolder}"></td>
    </tr>
    </tbody>
</table>


<div th:switch="${session.user?.role == 'HoofdParticulier'}">

    <p th:case="${true}">Hallo, jij bent hoofd Particulier</p>
    <p th:case="${false}">Hallo, jij mag hier niet komen</p>



</div>
</body>
</html>