<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Overzicht MKB</title>
</head>
<body>
<!--<div th:switch="${session.user?.role == 'HoofdMKB'}">-->
<!--    <p th:case="${true}">Hallo, jij bent hoofd MKB</p>-->
<!--    <p th:case="${false}">Hallo, jij mag hier niet komen</p>-->
<!--</div>-->
<h1>Hier komt het MKB overzicht</h1>
<table>
    <tr th:each="instance : ${top10balance}">
        <td th:text="${instance.key.firstName}"></td>
        <td><span th:text="${instance.value}" ></span></td>
    </tr>
</table>
</body>
</html>