<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <title>Overview</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<div class="about-section">
    <h1 class="intro">Rekeningenoverzicht</h1>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <table>
                    <tr th:each="rekening : ${bankAccounts}">
                        <h3><span class="glyphicon glyphicon-credit-card"></span> PARTICULIERE REKENING</h3>
                        <p class="title" th:text="${user.firstName + ' ' + user.prefix + ' ' + user.lastName}"></p>
                        <p th:text="${rekening.iban +  '&emsp;' + '&emsp;' +'&#8364;' + '  ' + rekening.balance}"></p>
                        <a th:href="@{/accountView(id=${rekening.id})}">
                            <button>Toon alle transactie</button>
                        </a>
                        <hr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="button">
        <select>
            <span>Rekening openen...</span>
            <a th:href="@{openPrivateBankAccount}">
                <option >Privérekening openen</option>
            </a>
            <a th:href="@{openBusinessBankAccount}">
                <option >Zakelijke rekening openen</option>
            </a>
        </select>

</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>