<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Overzicht MKB</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="about-section">
    <h1 class="intro">MKB overzicht</h1>
</div>

<div class="row">
    <div class="column mkb-card-wrap">
        <div class="card">
            <div class="container">
                <table>
                    <tr><h3>Top 10 Saldo per bedrijf</h3></tr>
                    <tr th:each="instance, iter : ${top10balance}">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${instance.businessName}"></td>
                        <td>KVK<span th:text="${instance.kvkNumber}"></span></td>
                        <td>€<span th:text="${instance.balance}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <table>
                    <tr><h3>Top 10 transacties per bedrijf</h3></tr>
                    <tr>
                        <th colspan="2">Bedrijf</th>
                        <th>Bij</th>
                        <th>Af</th>
                        <th>Totaal</th>
                    </tr>
                    <tr th:each="instance, iter : ${top10transactions}">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${instance.businessName}"></td>
                        <td th:text="${instance.debitCount}"></td>
                        <td th:text="${instance.creditCount}"></td>
                        <td><span th:text="${instance.sumTransactions}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <table>
                    <tr>
                        <h3>Gemiddelde saldo per sector</h3>
                    </tr>
                    <tr th:each="instance, iter : ${averagePerSector}">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${instance.sbiCode}"></td>
                        <td><span th:text="${instance.balanceAverage}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>