<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <title>Overview</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<div class="about-section">
    <h1 class="intro">Rekeningenoverzicht</h1>
</div>
<div class="center space-between">
    <a class="buttonStandard noLink" th:href="@{openPrivateBankAccount}">Open particuliere rekening</a>
    <a class="buttonStandard noLink" th:href="@{openBusinessAccount}">Open zakelijke rekening</a>
    <a class="buttonStandard noLink" th:href="@{connectBankAccount}">Koppel rekening</a>
</div>
<div class="backgroundsquare">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <table>
                        <tr th:each="rekening : ${bankAccounts}">
                            <h3><span class="glyphicon glyphicon-credit-card"></span>
                                <span th:if="${rekening instanceof T(nl.dagobank.webapp.domain.PrivateAccount)}">Particuliere rekening</span>
                                <span th:if="${rekening instanceof T(nl.dagobank.webapp.domain.BusinessAccount)}">Zakelijke rekening</span>
                            </h3>
                            <p class="title" th:text="${rekening.accountName}"></p>
                            <p class="title" th:text="${rekening.accountHolder.fullName}"></p>

                            <div class="title" th:each="additionalAccountHolder : ${rekening.secondaryAccountHolders}"
                                th:text="${additionalAccountHolder.fullName + ' |'}">
                            </div>

                            <p th:text="${rekening.iban +  '&emsp;' + '&emsp;' +'&#8364;' + '  ' + rekening.balance}"></p>
                            <a class="buttonStandard buttonSmall noLink" th:href="@{/accountView(id=${rekening.id})}">
                                Toon alle transacties
                            </a>
                            <hr>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>