<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head">
    <title>Registratie</title>
</head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<h1>Registreer</h1>
<h2>Vul het formulier in</h2>
<form method="post" th:action="@{register}" th:object="${registrationForm}">
    <table>
        <tr>
            <td>Voornaam :</td><td><input type="text" name="input_firstName" th:field="*{firstName}" required></td>
        </tr>
        <tr>
            <td>Tussenvoegsel :</td><td><input type="text" name="input_prefix" th:field="*{prefix}"></td>
        </tr>
        <tr>
            <td>Achternaam :</td><td><input type="text" name="input_lastName" th:field="*{lastName}" required></td>
        </tr>
        <tr>
            <td>Telefoon :</td><td><input type="text" name="input_lastName" th:field="*{phoneNumber}" required></td>
        </tr>
        <tr>
            <td>Straat :</td><td><input type="text" name="input_streetName" th:field="*{streetName}" required></td>
        </tr>
        <tr>
            <td>Huisnummer :</td><td><input type="number" name="input_houseNumber" th:field="*{houseNumber}" required></td>
        </tr>
        <tr>
            <td>Toevoeging :</td><td><input type="text" name="input_house_number_annex" th:field="*{houseNumberAnnex}"></td>
        </tr>
        <tr>
            <td>Postcode :</td><td><input type="text" name="input_post_code" th:field="*{postCode}" required></td>
        </tr>
        <tr>
            <td> Woonplaats :</td><td><input type="text" name="input_city" th:field="*{city}" required></td>
        </tr>
        <tr>
            <td>Email :</td><td><input type="email" name="input_email" th:field="*{email}" required></td>
        </tr>
        <tr>
            <td>Geboortedatum :</td><td><input type="date" name="input_birth_date" th:field="*{birthDate}" required></td>
        </tr>
        <tr>
            <td>BSN :</td><td><input type="number" name="bsn"th:field="*{bsn}" required></td>
        </tr>
    </table>
    <input type="submit" name="register" value="Registreer"/>
</form>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>