<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:insert="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Overboeken</title>
</head>
<body>
<h4>Type Rekening: <span th:text="${selectedBankAccount.accountName}"/></h4>
<h4>Rekening nummer: <span th:text="${selectedBankAccount.iban}"/></h4>
<h4>Saldo: <span th:text="${selectedBankAccount.balance}"/></h4>
<form th:action="@{/executeTransfer(id=${selectedBankAccount.id})}" method="post" th:object="${TransferForm}">
    <table>
        <tr>
            <td>Bedrag:</td><td><input type="number" name="input_amount" th:field="*{amount}" placeholder="amount" required></td>
        </tr>
        <tr>
            <td>Naam:</td><td><input type="text" name="input_name" th:field="*{UserFullName}" placeholder="volle naam" pattern="[A-Za-z ]{1,}" required></td>
        </tr>
        <tr>
            <td>IBAN:</td><td><input type="text" name="input_IBAN" th:field="*{IBAN}" placeholder="IBAN" required></td>
        </tr>
        <tr>
            <td>Referentiecode:</td><td><input type="text" name="input_paymentCode" th:field="*{paymentCode}" placeholder="Referentiecode"></td>
        </tr>
        <tr>
            <td>Beschrijving:</td><td><input type="text" name="input_description" th:field="*{description}" placeholder="Beschrijving" ></td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
</body>
</html>