<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:insert="fragments/head :: head">
    <meta charset="UTF-8">
</head>
<div th:insert="fragments/navigation :: navigation"></div>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="card">
            <div class="card-header">
                <h2 class="txtext">Overboeken</h2>
            </div>
            <div class="card-body">
                <h4 class="txtext">Rekening naam: <span th:text="${selectedBankAccount.accountName}"/></h4>
                <h4 class="txtext">Rekening nummer: <span th:text="${selectedBankAccount.iban}"/></h4>
                <h4 class="txtext">Saldo: <span id="send-balance" th:text="${selectedBankAccount.balance}"/></h4>
            </div>
        </div>
    </div>
</div>
<div class="login-container dagobertBackground">
    <div class="loginboxwrap">
        <div class="transferbox">
            <form th:action="@{/executeTransfer(id=${selectedBankAccount.id})}" method="post" th:object="${TransferForm}">
                <table>
                    <tr>
                        <td>Bedrag*:</td><td><input id="rec-amount" type="number" step="any" name="input_amount" th:field="*{amount}" placeholder="Bedrag" required
                                                    oninvalid="this.setCustomValidity('Vul het bedrag in')"></td>
                    </tr>
                    <tr>
                        <td>Naam*:</td><td><input id="user-full-name" type="text" name="input_name" th:field="*{UserFullName}" placeholder="Volle naam"
                                                  pattern="[A-Za-z ]{1,}" required oninvalid="this.setCustomValidity('Vul uw volledige naam in')"></td>
                    </tr>
                    <tr>
                        <td>IBAN*:</td><td><input id="rec-iban" type="text" name="input_IBAN" th:field="*{IBAN}" placeholder="IBAN" required
                                                  oninvalid="this.setCustomValidity('Vul uw volledige IBAN')"></td>
                    </tr>
                    <tr>
                        <td>Beschrijving:</td><td><input type="text" name="input_description" th:field="*{description}" placeholder="Beschrijving" ></td>
                    </tr>
                </table>
                <input type="submit" value="Submit">
            </form>
        </div>
        <p id="error" style="color: red"></p>
    </div>
</div>
</main>
<script>

    $("#rec-amount").on('focusout', function() {
        console.log("focus Werkt")
        var amount = $("#rec-amount").val();
        var userBalance = $("#send-balance").val();
        console.log(userBalance);
        if($('#send-balance').contents().length !== 0){
            var sending = parseFloat(amount);
            var funds = parseFloat(userBalance);
            console.log(sending);
            console.log(funds);
            if(sending > funds ) {
                $("#errorMessage").html("Onvoldoende saldo");
            }
        }
    });

    $("#rec-iban").on('focusout', function() {
        console.log("focus out werkt");
        checkIban();
    });

    function checkIban() {
        var iban = $("#rec-iban").val();
        var userFullName = $("#user-full-name").val();
        $.ajax({
            type: "GET",
            url: "checkIban",
            data: { "iban": iban, "fullname": userFullName },
            success: function (data) {
                $("#errorMessage").html("");
                $("#error").html(data.msg)
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log('Error: ' + errorMessage);
            },
        });
    }
</script>
</body>
</html>